---
http_interactions:
- request:
    method: get
    uri: https://api.readmill.com/v2/readings/443173/locations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client READMILL_CLIENT_ID
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"3f2b6030822df2e9cfc2cbe51a9578f6"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"pagination":{"next":null},"items":[{"location":{"id":9298,"created_at":"2011-12-25T15:50:31Z","period":{"id":7582},"reading":{"id":32900},"lat":47.442,"lng":8.59787}}],"status":200}'
  recorded_at: Mon, 16 Dec 2013 05:50:03 GMT
recorded_with: VCR 2.8.0
