---
http_interactions:
- request:
    method: get
    uri: https://api.readmill.com/v2/readings/234482/highlights
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client READMILL_CLIENT_ID
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"bd1264cd39ba8f4cb97ba41dc280ae46"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"pagination":{"next":null},"items":[{"highlight":{"id":827472,"position":0.302225,"content":"ardour","highlighted_at":"2013-12-16T06:40:49Z","permalink":"stxcrw","permalink_url":"https://readmill.com/mricardosantos/reads/essays-in-the-art-of-writing/highlights/stxcrw","user":{"id":73316,"username":"mricardosantos","firstname":null,"fullname":"mricardosantos","avatar_url":"https://d26cmntuippvfl.cloudfront.net/?action=crop&format=png&height=50&origin=https%253A%252F%252Fd15fum6h02z48v.cloudfront.net%252Fassets%252Fdefault-avatar-original-b0c7339fbb5969b50914c1a731503733.png&width=50","followers_count":0,"followings_count":1,"permalink_url":"https://readmill.com/mricardosantos"},"locators":{"position":0.302225,"mid":"ardour","post":"
        of a first love; and he enjoy","rmsdk":{"start":"OPS/main1.xml#point(/1/4/2/2/4/2/3:1407)","end":"OPS/main1.xml#point(/1/4/2/2/4/2/3:1413)"},"pre":"noble
        design, at least in the "},"comments_count":0,"likes_count":0,"reading":{"id":234482}}},{"highlight":{"id":827471,"position":0.299032,"content":"slovenly,","highlighted_at":"2013-12-16T06:39:56Z","permalink":"jr7hjq","permalink_url":"https://readmill.com/mricardosantos/reads/essays-in-the-art-of-writing/highlights/jr7hjq","user":{"id":73316,"username":"mricardosantos","firstname":null,"fullname":"mricardosantos","avatar_url":"https://d26cmntuippvfl.cloudfront.net/?action=crop&format=png&height=50&origin=https%253A%252F%252Fd15fum6h02z48v.cloudfront.net%252Fassets%25[...]
