---
http_interactions:
- request:
    method: get
    uri: https://api.readmill.com/v2/comments/112631
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client READMILL_CLIENT_ID
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"87f3581289a7e2e860ca30926380a209"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"comment":{"id":112631,"content":"True story.","posted_at":"2013-12-16T15:46:32Z","reading":{"id":313118},"highlight":{"id":829035},"closing_remark":null,"user":{"id":104014,"username":"G33kyGurl","firstname":"Donna","fullname":"Donna
        Taylor","avatar_url":"https://d26cmntuippvfl.cloudfront.net/?action=crop&format=png&height=50&origin=https%253A%252F%252Freadmill-assets.s3.amazonaws.com%252Favatars%252Fd50e2c82d21c92c9cbf938dd77b9b38bcf59b379-original.png&width=50","followers_count":4,"followings_count":4,"permalink_url":"https://readmill.com/G33kyGurl"},"entities":{"hashtags":[]}},"status":200}'
  recorded_at: Mon, 16 Dec 2013 16:16:55 GMT
recorded_with: VCR 2.8.0
