---
http_interactions:
- request:
    method: get
    uri: https://api.readmill.com/v2/highlights/827438
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client READMILL_CLIENT_ID
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"c109f25c97024f03858d022e843619be"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"highlight":{"id":827438,"position":0.973732,"content":"He always
        fell asleep as easily as some great lazing cat, he only had to close his eyes
        and moments later he\u2019d be gone, while my own mind kept on whirring round
        with scattered thoughts and images.","highlighted_at":"2013-12-16T06:17:21Z","permalink":"orbgva","permalink_url":"https://readmill.com/keels223/reads/the-winter-sea/highlights/orbgva","user":{"id":35202,"username":"keels223","firstname":"Keely","fullname":"Keely
        Galgano","avatar_url":"https://d26cmntuippvfl.cloudfront.net/?action=crop&format=png&height=50&origin=https%253A%252F%252Fd15fum6h02z48v.cloudfront.net%252Fassets%252Fdefault-avatar-original-b0c7339fbb5969b50914c1a731503733.png&width=50","followers_count":1,"followings_count":6,"permalink_url":"https://readmill.com/keels223"},"locators":{"position":0.9737325,"mid":"He
        always fell asleep as easily as some great lazing cat, he only had to close
        his eyes and moments later he\u2019d be gone, while my own mind kept on whirring
        round with scattered thoughts and images.","post":" I felt his breathing slow
        aga","rmsdk":{"start":"text/part46.xhtml#point(/1/4/2/3/67/1:47)","end":"text/part46.xhtml#point(/1/4/2/3/67/1:245)"},"pre":"I
        could hear it in his voice. "},"comments_count":0,"likes_count":0,"reading":{"id":439319}},"status":200}'
  recorded_at: Mon, 16 Dec 2013 06:18:49 GMT
recorded_with: VCR 2.8.0
