---
http_interactions:
- request:
    method: get
    uri: https://api.readmill.com/v2/users/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client READMILL_CLIENT_ID
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"512e14a7065f8983e3583227de6c41a4"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"user":{"id":1,"username":"christoffer","firstname":"Christoffer","lastname":"Klang","fullname":"Christoffer
        Klang","country":"Sweden","city":"Stockholm","created_at":"2010-11-21T19:44:34Z","website":"http://readtracker.com","description":"Developing
        ReadTracker. Mostly reading tech stuff, sci-fi and block-busters.","permalink_url":"https://readmill.com/christoffer","books_interesting_count":57,"books_reading_count":7,"books_finished_count":37,"books_abandoned_count":11,"avatar_url":"https://d26cmntuippvfl.cloudfront.net/?action=crop&format=png&height=50&origin=https%253A%252F%252Freadmill-assets.s3.amazonaws.com%252Favatars%252Fefc24a76482e271a702b1df5f71dba8ec386ff3f-original.png&width=50","followers_count":205,"followings_count":251,"reading_time":687332,"recent_reading_time":6418},"status":200}'
  recorded_at: Mon, 16 Dec 2013 16:35:09 GMT
recorded_with: VCR 2.8.0
