---
http_interactions:
- request:
    method: get
    uri: https://api.readmill.com/v2/users/1/followings
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client READMILL_CLIENT_ID
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"c4e40a99ea8585030bff9fc02a650abb"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"pagination":{"next":"https://api.readmill.com/v2/users/1/followings?offset=0&order=created_at&to=2013-04-19+00%3A07%3A52+UTC&user_id=1"},"items":[{"user":{"id":165364,"username":"samjohnstone","firstname":"Sam","lastname":"Johnstone","fullname":"Sam
        Johnstone","country":"Canada","city":"Toronto","created_at":"2013-11-02T19:53:48Z","website":"http://www.johnstonepropaganda.com","description":"A
        designer/illustrator living in Toronto","permalink_url":"https://readmill.com/samjohnstone","books_interesting_count":6,"books_reading_count":2,"books_finished_count":21,"books_abandoned_count":0,"avatar_url":"https://d26cmntuippvfl.cloudfront.net/?action=crop&format=png&height=50&origin=https%253A%252F%252Freadmill-assets.s3.amazonaws.com%252Favatars%252F9ec66f85b6fc217af21fce00fb37930092fa8a5c-original.png&width=50","followers_count":10,"followings_count":29,"reading_time":30825,"recent_reading_time":9094}},{"user":{"id":86845,"username":"josevalim","firstname":"Jos\u00e9","lastname":"Valim","fullname":"Jos\u00e9
        Valim","country":"Poland","city":"Krak\u00f3w","created_at":"2013-05-23T08:53:27Z","website":"","description":"","permalink_url":"https://readmill.com/josevalim","books_interesting_count":0,"books_reading_count":0,"books_finished_count":1,"books_abandoned_count":0,"avatar_url":"https://d26cmntuippvfl.cloudfront.net/?action=crop&format=png&height=50&origin=https%253A%252F%252[...]
