---
http_interactions:
- request:
    method: get
    uri: https://api.readmill.com/v2/users/1/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client READMILL_CLIENT_ID
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"854c778ea49e2344aedf45cdc7420a19"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"pagination":{"next":"https://api.readmill.com/v2/users/1/followers?offset=0&order=created_at&to=2013-08-20+16%3A10%3A22+UTC&user_id=1"},"items":[{"user":{"id":888,"username":"micaelwidell","firstname":"Micael","lastname":"Widell","fullname":"Micael
        Widell","country":"Sweden","city":"Stockholm","created_at":"2011-07-26T08:35:20Z","website":"http://micaelwidell.com","description":"Founder/CTO
        at Fyndiq.se. I like reading (auto)biographies, books about popular science,
        psychology, philosophy and entrepreneurship.","permalink_url":"https://readmill.com/micaelwidell","books_interesting_count":0,"books_reading_count":5,"books_finished_count":10,"books_abandoned_count":1,"avatar_url":"https://d26cmntuippvfl.cloudfront.net/?action=crop&format=png&height=50&origin=https%253A%252F%252Freadmill-assets.s3.amazonaws.com%252Favatars%252Fd53d1fe9aee4e10051715a3aa848f8965239a198-original.png&width=50","followers_count":29,"followings_count":77,"reading_time":127200,"recent_reading_time":3000}},{"user":{"id":27801,"username":"cnnr","firstname":"Connor","lastname":"Montgomery","fullname":"Connor
        Montgomery","country":"USA","city":"San Francisco","created_at":"2012-10-25T22:38:33Z","website":"http://cnnr.me","description":"Builder
        at @pinterest; also hack on @domainr. Previously: Apple, @LiftApp. I have
        a thing for high-fives.","permalink_url":"https://readmill.com/cnnr","books_interesting_count":78,"books_reading_count":17,"books_finished_count":0,"books_a[...]
