---
http_interactions:
- request:
    method: get
    uri: https://api.readmill.com/v2/highlights
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client READMILL_CLIENT_ID
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"0f16d46bb9a36427ff9366b60a9a7b97"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"pagination":{"next":"https://api.readmill.com/v2/highlights?offset=0&order=highlighted_at&to=2013-12-16+05%3A59%3A00+UTC"},"items":[{"highlight":{"id":827443,"position":0.0967196,"content":"\u0438\u0433\u0440\u0438\u0432\u043e\u0441\u0442\u044c
        \u0438 \u043b\u0435\u0433\u043a\u043e\u043c\u044b\u0441\u043b\u0435\u043d\u043d\u043e\u0435
        \u043e\u0442\u043d\u043e\u0448\u0435\u043d\u0438\u0435 \u043a \u0436\u0438\u0437\u043d\u0438
        \u0438 \u0436\u0435\u043d\u0449\u0438\u043d\u0430\u043c","highlighted_at":"2013-12-16T06:18:43Z","permalink":"gwfnog","permalink_url":"https://readmill.com/koertee1/reads/novaia-zhzhizn-biez-trusov/highlights/gwfnog","user":{"id":209589,"username":"koertee1","firstname":null,"fullname":"koertee1","avatar_url":"https://d26cmntuippvfl.cloudfront.net/?action=crop&format=png&height=50&origin=https%253A%252F%252Fd15fum6h02z48v.cloudfront.net%252Fassets%252Fdefault-avatar-original-b0c7339fbb5969b50914c1a731503733.png&width=50","followers_count":0,"followings_count":1,"permalink_url":"https://readmill.com/koertee1"},"locators":{"position":0.09671962,"mid":"\u0438\u0433\u0440\u0438\u0432\u043e\u0441\u0442\u044c
        \u0438 \u043b\u0435\u0433\u043a\u043e\u043c\u044b\u0441\u043b\u0435\u043d\u043d\u043e\u0435
        \u043e\u0442\u043d\u043e\u0448\u0435\u043d\u0438\u0435 \u043a \u0436\u0438\u0437\u043d\u0438
        \u0438 \u0436\u0435\u043d\u0449\u0438\u043d\u0430\u043c","post":" \u0434\u0430\u044e\u0442
        \u043c\u0443\u0436\u0447\u0438\u043d\u0435 \u043f\u0440\u0430\u0432\u043e
        \u043d\u0430 \u043f\u043e\u0434\u043e\u0431\u043d\u044b","rmsdk":{"start":"OPS/ch1-4.xhtml#point(/1/4/2/13/60/1:13)","end":"OPS/ch1-4.xhtml#point(/1/4/2/13/60/1:116)"},"pre":"\u0438
        \u043f\u043e\u0434\u043a\u0430\u0431\u043b\u0443\u0447\u043d\u0438\u043a\u043e\u0432
        \u043f\u0438\u043d\u043a\u0430! \u0422\u043e\u043b\u044c\u043a\u043e "},"comments_count":0,"likes_count":0,"reading":{"id":441899}}},{"highlight":{"id":827442,"position":0.0967662,"content":"\u043a
        \u0436\u0438\u0437\u043d\u0438 \u0438 \u0436\u0435\u043d\u0449\u0438\u043d\u0430\u043c","highlighted_at":"2013-12-16T06:18:37Z","permalink":"uq877q","permalink_url":"https://readmill.com/koertee1/reads/novaia-zhzhizn-biez-trusov/highlights/uq877q","user":{"id":209589,"username":"koertee1","firstname":null,"fullname":"koertee1","avatar_url":"https://d26cmntuippvfl.cloudfront.net/?action=crop&format=png&height[...]
