---
http_interactions:
- request:
    method: get
    uri: https://api.readmill.com/v2/users/search?query=Andrew%20Thorp
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client READMILL_CLIENT_ID
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"8de19e9c7b2cddc951f876a8a6e52171"'
      Status:
      - 200 OK
    body:
      encoding: US-ASCII
      string: ! '{"items":[{"user":{"id":3435,"username":"andrewdotcom","firstname":"Andrew","lastname":null,"fullname":"Andrew","country":null,"city":null,"created_at":"2011-09-14T09:02:52Z","website":"http://www.andrewskinner.name","description":"My
        inner monologue. ","permalink_url":"https://readmill.com/andrewdotcom","books_interesting_count":0,"books_reading_count":2,"books_finished_count":1,"books_abandoned_count":0,"avatar_url":"https://d26cmntuippvfl.cloudfront.net/?action=crop&format=png&height=50&origin=https%253A%252F%252Freadmill-assets.s3.amazonaws.com%252Favatars%252F0d5903e8626f95e88158433e87223a958ccccda7-original.png&width=50","followers_count":1,"followings_count":1,"reading_time":1200,"recent_reading_time":0}},{"user":{"id":834,"username":"andrew","firstname":null,"lastname":null,"fullname":"andrew","country":null,"city":null,"created_at":"2011-07-24T10:52:12Z","website":null,"description":null,"permalink_url":"https://readmill.com/andrew","books_interesting_count":0,"books_reading_count":0,"books_finished_count":0,"books_abandoned_count":0,"avatar_url":"https://d26cmntuippvfl.cloudfront.net/?action=crop&format=png&height=50&origin=https%253A%252F%252Fd15fum6h02z48v.cloudfront.net%252Fassets%252Fd[...]
