---
http_interactions:
- request:
    method: get
    uri: https://api.readmill.com/v2/books/search?query=Steve%20jobs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client READMILL_CLIENT_ID
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"dd11afee31c92da446ccc907052abfe3"'
      Status:
      - 200 OK
    body:
      encoding: US-ASCII
      string: ! '{"items":[{"book":{"id":2855,"title":"Steve Jobs","author":"Walter
        Isaacson","identifier":"9780748131327","story":"Based on more than forty interviews
        with Jobs conducted over two years--as well as interviews with more than a
        hundred family members, friends, adversaries, competitors, and colleagues--Walter
        Isaacson has written a riveting story of the roller-coaster life and searingly
        intense personality of a creative entrepreneur whose passion for perfection
        and ferocious drive revolutionized six industries: personal computers, animated
        movies, music, phones, [...]
