---
http_interactions:
- request:
    method: get
    uri: https://api.readmill.com/v2/highlights/search?query=Steve%20jobs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client READMILL_CLIENT_ID
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"015ea14fbfface4afb07f1c8f9e33755"'
      Status:
      - 200 OK
    body:
      encoding: US-ASCII
      string: ! '{"items":[{"highlight":{"id":2175,"position":0.36214,"content":"Steve
        Jobs","highlighted_at":"2011-10-23T00:49:24Z","permalink":"e992","permalink_url":"https://readmill.com/AaronGustafson/reads/adaptive-web-design-crafting-rich-experiences-with-progressive-enhancement/highlights/e992","user":{"id":4811,"username":"AaronGustafson","firstname":"Aaron","fullname":"Aaron
        Gustafson","avatar_url":"https://d26cmntuippvfl.cloudfront.net/?action=crop&format=png&height=50&origin=https%253A%252F%252Freadmill-assets.s3.amazonaws.com%252Favatars%252F60fba7d80e7fa6cd6985cd7c84f206a8b1cee0f4-original.png&width=50","followers_count":280,"followings_count":244,"permalink_url":"https://readmill.com/AaronGustafson"},"locators":{"position":0.36214,"pre":"\u2014
        ","mid":"Steve Jobs","post":""},"comments_count":1,"likes_count":0,"reading":{"id":10716}}},{"highlight":{"id":783121,"position":0.00118203,"content":"Steve
        Jobs","highlighted_at":"2013-12-07T09:40:45Z","permalink":"2_hucg","permalink_url":"https://readmill.com/digitalweddings/reads/steve-jobs/highlights/2_hucg","user":{"id":203093,"username":"digitalweddings","firstname":"Derick","fullname":"Derick
        Botha","avatar_url":"https://d26cmntuippvfl.cloudfront.net/?action=crop&format=png&height=50&origin=https%253A%252F%252Fd15fum6h02z48v.cloudfront.net%252Fassets%252Fdefault-avatar-original-b0c7339fbb5969b50914c1a731503733.png&width=50","followers_count":0,"followings_count":1,"permalink_url":"https://readmill.com/digitalweddings"},"locators":{"position":0.001182033,"mid":"Steve
        Jobs","post":" by Walter IsaacsonFROM THE AU","rmsdk":{"start":"#pdfloc(5f9d,1,29,0,0,0,0,1)","end":"#pdfloc(5f9d,1,29,0,9,0,1,1)"},"pre":""},"comments_count":0,"likes_count":0,"reading":{"id":414242}}},{"highlight":{"id":689127,"position":0.0226615,"content":"to
        Jobs.","highlighted_at":"2013-11-12T22:34:45Z","permalink":"vfsakw","permalink_url":"https://readmill.com/masami3/reads/steve-jobs/highlights/vfsakw","user":{"id":176410,"username":"masami3","firstname":null,"fullname":"masami3","avatar_url":"https://d26cmntuippvfl.cloudfront.net/?action=crop&format=png&height=50&origin=https%[...]
