---
http_interactions:
- request:
    method: get
    uri: https://api.readmill.com/v2/books
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client READMILL_CLIENT_ID
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ca284445bdd40d8b1fe6bee2486e61aa"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"pagination":{"next":"https://api.readmill.com/v2/books?offset=0&order=created_at&to=2013-12-16+02%3A30%3A19+UTC"},"items":[{"book":{"id":360624,"title":"\u51c9\u751f\uff0c\u6211\u4eec\u53ef\u4e0d\u53ef\u4ee5\u4e0d\u5fe7\u4f241","author":"\u4e50\u5c0f\u7c73","identifier":null,"story":null,"published_at":null,"language":null,"permalink":"liang-sheng-wo-men-ke-bu-ke-yi-bu-you-shang-1","permalink_url":"https://readmill.com/books/liang-sheng-wo-men-ke-bu-ke-yi-bu-you-shang-1","cover_url":"https://d26cmntuippvfl.cloudfront.net/?action=shrink-w&format=png&origin=https%253A%252F%252Fd15fum6h02z48v.cloudfront.net%252Fassets%252Fdefault-cover-original-a8cdd3ce01730b6af1039cff21184295.png&width=120","cover_metadata":{"original_width":1200,"original_height":1800},"assets":{"items":[]},"readings_count":0,"recommended_readings_count":0,"active_and_finished_readings_count":0,"average_duration":null,"featured":false,"price_segment":null}},{"book":{"id":360623,"title":"Cavalier
        Case","author":"Antonia Fraser","identifier":null,"story":null,"published_at":null,"language":null,"permalink":"cavalier-case","permalink_url":"https://readmill.com/books/cavalier-case","cover_url":"https://d26cmntuippvfl.cloudfront.net/?action=shrink-w&format=png&origin=https%253A%252F%252Fd15fum6h02z48v.cloudfront.net%252Fassets%252Fdefault-cover-original-a8cdd3ce01730b6af1039cff21184295.png&width=120","cover_metadata":{"original_width":120[...]
