---
http_interactions:
- request:
    method: get
    uri: https://api.readmill.com/v2/books
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client READMILL_CLIENT_ID
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"6b8b831b99dca34bb7675d93f443432d"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"pagination":{"next":"https://api.readmill.com/v2/books?offset=0&order=created_at&to=2013-12-16+04%3A05%3A44+UTC"},"items":[{"book":{"id":360825,"title":"BM.LAN.01
        TRIANE''S SON RISING","author":"Amy Lane","identifier":null,"story":null,"published_at":null,"language":null,"permalink":"bm-dot-lan-dot-01-trianes-son-rising","permalink_url":"https://readmill.com/books/bm-dot-lan-dot-01-trianes-son-rising","cover_url":"https://d26cmntuippvfl.cloudfront.net/?action=shrink-w&format=png&origin=https%253A%252F%252Fd15fum6h02z48v.cloudfront.net%252Fassets%252Fdefault-cover-original-a8cdd3ce01730b6af1039cff21184295.png&width=120","cover_metadata":{"original_width":1200,"original_height":1800},"assets":{"items":[]},"readings_count":0,"recommended_readings_count":0,"active_and_finished_readings_count":0,"average_duration":null,"featured":false,"price_segment":null}},{"book":{"id":360824,"title":"\u5217\u738b\u7684\u7eb7\u4e89","author":"\u8d3a\u6893\u4e54","identifier":null,"story":null,"published_at":null,"language":null,"permalink":"lie-wang-de-fen-zheng","permalink_url":"https://readmill.com/books/lie-wang-de-fen-zheng","cover_url":"https://d26cmntuippvfl.cloudfront.net/?action=shrink-w&format=png&origin=https%253A%252F%252Fd15fum6h02z48v.cloudfront.net%252Fassets%252Fdefault-cover-original-a8cdd3ce01730b6af1039cff21184295.png&width=120","cover_me[...]
