---
http_interactions:
- request:
    method: get
    uri: https://api.readmill.com/v2/readings
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client READMILL_CLIENT_ID
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"dd4e69136bb5a208a842bf9ab3da4428"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"pagination":{"next":"https://api.readmill.com/v2/readings?offset=0&order=created_at&to=2013-12-16+04%3A06%3A26+UTC"},"items":[{"reading":{"id":443204,"state":"reading","private":false,"recommended":false,"closing_remark":null,"created_at":"2013-12-16T04:19:33Z","started_at":"2013-12-15T21:54:46Z","touched_at":"2013-12-15T21:54:46Z","ended_at":null,"duration":0,"progress":0.0,"estimated_time_left":null,"average_period_time":0,"book":{"id":3322,"title":"Harry
        Potter and the Half-Blood Prince","author":"J.K. Rowling","permalink":"harry-potter-and-the-half-blood-prince","permalink_url":"https://readmill.com/books/harry-potter-and-the-half-blood-prince","cover_url":"https://d26cmntuippvfl.cloudfront.net/?action=shrink-w&format=png&origin=https%253A%252F%252Freadmill-assets.s3.amazonaws.com%252Fcovers%252F2e6d13e7a07b70325365247e360da8202f616cf6-original.png&width=120","cover_metadata":{"original_width":600,"original_height":920}},"user":{"id":194847,"username":"ravi_fusion","firstname":null,"fullname":"ravi_fusion","avatar_url":"https://d26cmntuippvfl.cloudfront.net/?action=crop&format=png&height=50&origin=https%253A%252F%252Fd15fum6h02z48v.cloudfront.net%252Fassets%252Fdefault-avatar-original-b0c7339fbb5969b50914c1a731503733.png&width=50","followers_count":0,"followings_count":1,"permalink_url":"https://readmill.com/ravi_fusion"},"permalink_url":"https://readmill.com/ravi_fusion/reads/harry-potter-and-the-half-blood-prince","comments_count":0,"highlights_count":0,"position":null,"position_updated_at":null,"entities":{"hashtags":[]}}},{"reading":{"id":443203,"state":"reading","private":false,"recommended":false,"closing_remark":null,"created_at":"2013-12-16T04:19:06Z","started_at":"2013-12-16T04:19:06Z","touched_at":"2013-12-16T04:19:06Z","ended_at":null,"duration":0,"progress":0.0,"estimated_time_left":null,"average_period_time":0,"book":{"id":13926,"title":"Night
        and Day","author":"Virginia Woolf","permalink":"night-and-day","permalink_url":"https://readmill.com/books/night-and-day","cover_url":"https://d26cmn[...]
