---
http_interactions:
- request:
    method: get
    uri: https://api.readmill.com/v2/books/269082/readings
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client READMILL_CLIENT_ID
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"4ab2b780c24718cd9560a84b2c5a48b1"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"pagination":{"next":null},"items":[{"reading":{"id":443173,"state":"reading","private":false,"recommended":false,"closing_remark":null,"created_at":"2013-12-16T04:07:43Z","started_at":"2013-12-16T04:07:43Z","touched_at":"2013-12-16T04:12:43Z","ended_at":null,"duration":300,"progress":0.0861162,"estimated_time_left":3033,"average_period_time":300,"book":{"id":269082,"title":"Kiss
        of the Night","author":"Sylvia Day","permalink":"kiss-of-the-night-1","permalink_url":"https://readmill.com/books/kiss-of-the-night-1","cover_url":"https://d26cmntuippvfl.cloudfront.net/?action=shrink-w&format=png&origin=https%253A%252F%252Freadmill-assets.s3.amazonaws.com%252Fcovers%252F4d5deed826e6b739311670ad175ff7029e353b21-original.png&width=120","cover_metadata":{"original_width":476,"original_height":616}},"user":{"id":45146,"username":"peckjo","firstname":"Joanna","fullname":"Joanna
        Peck","avatar_url":"https://d26cmntuippvfl.cloudfront.net/?action=crop&format=png&height=50&origin=https%253A%252F%252Fd15fum6h02z48v.cloudfront.net%252Fassets%252Fdefault-avatar-original-b0c7339fbb5969b50914c1a731503733.png&width=50","followers_count":0,"followings_count":1,"permalink_url":"https://readmill.com/peckjo"},"permalink_url":"https://readmill.com/peckjo/reads/kiss-of-the-night-1","comments_count":0,"highlights_count":0,"position":0.0861162,"position_updated_at":"2013-12-16T04:12:56Z","entities":{"hashtags":[]}}}],"status":200}'
  recorded_at: Mon, 16 Dec 2013 04:19:55 GMT
recorded_with: VCR 2.8.0
