---
http_interactions:
- request:
    method: get
    uri: https://api.readmill.com/v2/users/45146/readings
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client READMILL_CLIENT_ID
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"c067adcbb5432cb7d50ae5f83da4814e"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"pagination":{"next":"https://api.readmill.com/v2/users/45146/readings?offset=0&order=created_at&to=2013-11-30+17%3A01%3A38+UTC&user_id=45146"},"items":[{"reading":{"id":443173,"state":"reading","private":false,"recommended":false,"closing_remark":null,"created_at":"2013-12-16T04:07:43Z","started_at":"2013-12-16T04:07:43Z","touched_at":"2013-12-16T04:12:43Z","ended_at":null,"duration":1500,"progress":0.368301,"estimated_time_left":2554,"average_period_time":1500,"book":{"id":269082,"title":"Kiss
        of the Night","author":"Sylvia Day","permalink":"kiss-of-the-night-1","permalink_url":"https://readmill.com/books/kiss-of-the-night-1","cover_url":"https://d26cmntuippvfl.cloudfront.net/?action=shrink-w&format=png&origin=https%253A%252F%252Freadmill-assets.s3.amazonaws.com%252Fcovers%252F4d5deed826e6b739311670ad175ff7029e353b21-original.png&width=120","cover_metadata":{"original_width":476,"original_height":616}},"user":{"id":45146,"username":"peckjo","firstname":"Joanna","fullname":"Joanna
        Peck","avatar_url":"https://d26cmntuippvfl.cloudfront.net/?action=crop&format=png&height=50&origin=https%253A%252F%252Fd15fum6h02z48v.cloudfront.net%252Fassets%252Fdefault-avatar-original-b0c7339fbb5969b50914c1a731503733.png&width=50","followers_count":0,"followings_count":1,"permalink_url":"https://readmill.com/peckjo"},"permalink_url":"https://readmill.com/peckjo/reads/kiss-of-the-night-1","comments_count":0,"highlights_count":0,"position":0.411258,"position_updated_at":"2013-12-16T05:18:14Z","entities":{"hashtags":[]}}},{"reading":{"id":442930,"state":"finished","private":false,"recommended":false,"closing_remark":null,"created_at":"2013-12-16T01:52:44Z","started_at":"2013-12-16T01:52:44Z","touched_at":"2013-12-16T03:45:48Z","ended_at":"2013-12-16T03:45:48Z","duration":600,"progress":1.0,"estimated_time_left":0,"average_period_time":300,"book":{"id":306427,"title":"KinkyOrgasm.PDF","author":"Elemental
        Alchemy","permalink":"kinkyorgasm-dot-pdf","permalink_url":"https://readmill.com/books/kinkyorgas[...]
