---
http_interactions:
- request:
    method: get
    uri: https://api.readmill.com/v2/readings/443173/periods
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client READMILL_CLIENT_ID
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"51dc037277c5844eb1de114db85e1af9"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"pagination":{"next":null},"items":[{"period":{"id":833450,"reading":{"id":443173},"user":{"id":45146},"started_at":"2013-12-16T04:12:43Z","duration":1500,"progress":0.368301,"identifier":"0DAEE845-E044-491E-B1BD-08A096CBE6EB-1831-000004C9D8C627EF","locations":{"items":[]}}}],"status":200}'
  recorded_at: Mon, 16 Dec 2013 05:39:53 GMT
recorded_with: VCR 2.8.0
