---
http_interactions:
- request:
    method: get
    uri: https://api.readmill.com/v2/books/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client READMILL_CLIENT_ID
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"d6b8fcef7531c80136b0539e78042926"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"book":{"id":1,"title":"Do More Faster: TechStars Lessons to Accelerate
        Your Startup","author":"Cohen, David, Feld, Brad","identifier":"0470929839","story":"Practical
        advice from some of today''s top early stage investors and entrepreneurs  TechStars
        is a mentorship-driven startup accelerator with operations in three U.S. cities.
        Once a year in each city, it funds about ten Internet startups with a small
        amount of capital and surrounds them with around fifty top Internet entrepreneurs
        and investors. Historically, about seventy-five percent of the companies that
        go through TechStars raise a meaningful [...]
