---
http_interactions:
- request:
    method: get
    uri: https://api.readmill.com/v2/books/1/readers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client READMILL_CLIENT_ID
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"7c8f68839b2bbb0737d82f6b02dde1f5"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"pagination":{"next":"https://api.readmill.com/v2/books/1/readers?book_id=1&offset=0&order=created_at&to=2012-09-28+05%3A25%3A27+UTC"},"items":[{"user":{"id":114353}},{"user":{"id":70406}},{"user":{"id":68584}},{"user":{"id":67164}},{"user":{"id":52623}},{"user":{"id":46197}},{"user":{"id":35369}},{"user":{"id":34764}},{"user":{"id":33685}},{"user":{"id":33347}},{"user":{"id":32745}},{"user":{"id":32441}},{"user":{"id":32378}},{"user":{"id":29903}},{"user":{"id":29514}},{"user":{"id":28777}},{"user":{"id":28590}},{"user":{"id":27135}},{"user":{"id":24954}},{"user":{"id":24910}}],"status":200}'
  recorded_at: Mon, 16 Dec 2013 16:37:56 GMT
recorded_with: VCR 2.8.0
